<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170651150957-dunv9m5m7pla8qgv47b7kkanoag5oo39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170651150957-dunv9m5m7pla8qgv47b7kkanoag5oo39</string>
	<key>API_KEY</key>
	<string>AIzaSyCxqaLwATTgYbJpR6zeih3URpMM4dAcxKg</string>
	<key>GCM_SENDER_ID</key>
	<string>170651150957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nvn.LAPTOPNVN</string>
	<key>PROJECT_ID</key>
	<string>laptop88-99762</string>
	<key>STORAGE_BUCKET</key>
	<string>laptop88-99762.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170651150957:ios:cfa224fba44fa89e782d64</string>
</dict>
</plist>